/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/main.scss */
* {
  cursor: default;
}

/* line 17, ../sass/main.scss */
h1 {
  font-size: 3em;
  font-weight: bold;
}

/* line 22, ../sass/main.scss */
h2 {
  font-size: 2em;
  font-weight: bold;
}

/* line 26, ../sass/main.scss */
h3 {
  font-size: 1.3em;
}

/* line 30, ../sass/main.scss */
body {
  background: black;
  font-size: 16px;
}

/* line 36, ../sass/main.scss */
#canvas-container {
  border: black solid 1em;
  width: 1366px;
  height: 868px;
  background: black url("img/Moon.jpg") bottom no-repeat;
  margin: auto;
  position: relative;
  overflow: hidden;
}

/* line 46, ../sass/main.scss */
#main-menu {
  height: 60px;
  width: 100%;
  background: black;
  color: white;
  font-family: "CapsuulaRegular", Arial, sans-serif;
  letter-spacing: 0;
}

/* line 55, ../sass/main.scss */
#main-menu li {
  font-size: 1.3em;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
  border: solid white 1px;
  float: left;
  cursor: default;
  text-align: center;
  background-color: #4c4c4c;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF4C4C4C', endColorstr='#FF131313');
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, #4c4c4c), color-stop(100%, #000000));
  background-image: -webkit-radial-gradient(center, ellipse cover, #4c4c4c 0%, #000000 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, #4c4c4c 0%, #000000 100%);
  background-image: -o-radial-gradient(center, ellipse cover, #4c4c4c 0%, #000000 100%);
  background-image: radial-gradient(center, ellipse cover, #4c4c4c 0%, #000000 100%);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
}

/* line 74, ../sass/main.scss */
#main-menu li p {
  margin: 12px auto;
  vertical-align: middle;
}

/* line 81, ../sass/main.scss */
#secondary-menu {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

/* line 86, ../sass/main.scss */
#secondary-menu ul {
  width: 100%;
  display: block;
}

/* line 92, ../sass/main.scss */
#secondary-menu li {
  width: 130px;
  height: 130px;
  float: left;
  margin-left: 10px;
}
/* line 97, ../sass/main.scss */
#secondary-menu li img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid white;
  background-color: white;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFFFFFFF', endColorstr='#FF7A7A7A');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjN2E3YTdhIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, #ffffff), color-stop(100%, #000000), color-stop(100%, #7a7a7a));
  background-image: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #000000 100%, #7a7a7a 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #000000 100%, #7a7a7a 100%);
  background-image: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #000000 100%, #7a7a7a 100%);
  background-image: radial-gradient(center, ellipse cover, #ffffff 0%, #000000 100%, #7a7a7a 100%);
  margin: 10px;
  opacity: 0.6;
}
/* line 108, ../sass/main.scss */
#secondary-menu li img:hover {
  width: 120px;
  height: 120px;
  opacity: 1;
  margin: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/*
 * status bar
 */
/* line 125, ../sass/main.scss */
#status {
  width: 40%;
  position: absolute;
  padding: 6px;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  font-family: "CapsuulaRegular", Arial, sans-serif;
  letter-spacing: 0;
  color: white;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}

/* line 138, ../sass/main.scss */
.progressbar {
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
  margin-top: 5px;
}

/* line 145, ../sass/main.scss */
.progressbar div {
  height: 20px;
  border-radius: 10px;
}

/* line 150, ../sass/main.scss */
.progressbar p {
  position: absolute;
  color: white;
  vertical-align: middle;
  margin-left: 10px;
}

/* line 157, ../sass/main.scss */
.progressbar.water div {
  background: blue;
}

/* line 160, ../sass/main.scss */
.progressbar.value-resources div {
  background: green;
}

/* line 163, ../sass/main.scss */
.progressbar.manufacturing-resources div {
  background: purple;
}

/* line 166, ../sass/main.scss */
.progressbar.energy div {
  background: orange;
}

/* line 172, ../sass/main.scss */
#choice-menu {
  min-height: 40%;
  width: 60%;
  padding: 2.5%;
  border: 5px white solid;
  color: white;
  background: grey;
  margin-left: 20%;
  margin-top: 10%;
  font-family: "CapsuulaRegular", Arial, sans-serif;
  z-index: 1;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 185, ../sass/main.scss */
#choice-menu h2.title {
  text-align: center;
  margin: 10px;
}
/* line 189, ../sass/main.scss */
#choice-menu h3.choice-description {
  text-align: center;
  min-height: 3em;
}
/* line 194, ../sass/main.scss */
#choice-menu ol {
  margin-left: 2em;
  margin-top: 1em;
}
/* line 197, ../sass/main.scss */
#choice-menu ol li {
  display: block;
  font-size: 1.6em;
  margin-bottom: .5em;
}
/* line 199, ../sass/main.scss */
#choice-menu ol li p:first-child {
  float: left;
  margin-right: 1em;
}
/* line 207, ../sass/main.scss */
#choice-menu ol li:hover {
  color: #EDEDED;
  font-weight: bold;
}

/* line 216, ../sass/main.scss */
.hide {
  visibility: none;
}

/* line 220, ../sass/main.scss */
#tool-tip {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* line 225, ../sass/main.scss */
#tool-tip img {
  height: 50%;
}
