/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/main.scss */
* {
  cursor: default;
}

/* line 17, ../sass/main.scss */
h1 {
  font-size: 3em;
  font-weight: bold;
}

/* line 22, ../sass/main.scss */
h2 {
  font-size: 2em;
  font-weight: bold;
}

/* line 26, ../sass/main.scss */
h2 {
  font-size: 1.6em;
}

/* line 30, ../sass/main.scss */
body {
  background: black;
  font-size: 16px;
}

/* line 36, ../sass/main.scss */
#canvas-container {
  border: black solid 1em;
  width: 1366px;
  height: 868px;
  background: black url("img/Moon.jpg") bottom no-repeat;
  margin: auto;
  position: relative;
}

/* line 45, ../sass/main.scss */
#main-menu {
  height: 60px;
  width: 100%;
  background: black;
  color: white;
  font-family: "CapsuulaRegular", Arial, sans-serif;
  letter-spacing: 0;
}

/* line 54, ../sass/main.scss */
#main-menu li {
  font-size: 1.3em;
  font-weight: bold;
  width: 200px;
  height: 50px;
  margin-right: 10px;
  float: left;
  cursor: default;
  text-align: center;
  background-color: #4c4c4c;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF4C4C4C', endColorstr='#FF131313');
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, #4c4c4c), color-stop(100%, #000000));
  background-image: -webkit-radial-gradient(center, ellipse cover, #4c4c4c 0%, #000000 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, #4c4c4c 0%, #000000 100%);
  background-image: -o-radial-gradient(center, ellipse cover, #4c4c4c 0%, #000000 100%);
  background-image: radial-gradient(center, ellipse cover, #4c4c4c 0%, #000000 100%);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
}

/* line 70, ../sass/main.scss */
#main-menu li p {
  margin: auto;
  vertical-align: middle;
}

/* line 77, ../sass/main.scss */
#secondary-menu {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

/* line 82, ../sass/main.scss */
#secondary-menu ul {
  width: 100%;
  display: block;
}

/* line 88, ../sass/main.scss */
#secondary-menu li {
  width: 130px;
  height: 130px;
  background: black;
  float: left;
  margin-left: 10px;
}
/* line 94, ../sass/main.scss */
#secondary-menu li img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid white;
  background: grey;
  margin: 10px;
  opacity: 0.6;
}
/* line 102, ../sass/main.scss */
#secondary-menu li img:hover {
  width: 120px;
  height: 120px;
  opacity: 1;
  margin: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/*
 * status bar
 */
/* line 119, ../sass/main.scss */
#status {
  width: 40%;
  position: absolute;
  padding: 6px;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  font-family: "CapsuulaRegular", Arial, sans-serif;
  letter-spacing: 0;
  color: white;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}

/* line 132, ../sass/main.scss */
.progressbar {
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
  margin-top: 5px;
}

/* line 139, ../sass/main.scss */
.progressbar div {
  height: 20px;
  border-radius: 10px;
}

/* line 144, ../sass/main.scss */
.progressbar div p {
  color: white;
  vertical-align: middle;
  margin-left: 10px;
}

/* line 150, ../sass/main.scss */
.progressbar.water div {
  background: blue;
}

/* line 153, ../sass/main.scss */
.progressbar.value-resources div {
  background: green;
}

/* line 156, ../sass/main.scss */
.progressbar.manufacturing-resources div {
  background: purple;
}

/* line 159, ../sass/main.scss */
.progressbar.energy div {
  background: orange;
}

/* line 165, ../sass/main.scss */
#choice-menu {
  height: 40%;
  width: 50%;
  padding: 2.5%;
  border: 5px white solid;
  color: white;
  background: grey;
  margin-left: 25%;
  margin-top: 10%;
  font-family: "CapsuulaRegular", Arial, sans-serif;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 177, ../sass/main.scss */
#choice-menu h2.title {
  text-align: center;
  margin: 10px;
}
/* line 181, ../sass/main.scss */
#choice-menu h3.choice-description {
  text-align: center;
  min-height: 3em;
}
/* line 186, ../sass/main.scss */
#choice-menu ol {
  margin-left: 2em;
}
/* line 188, ../sass/main.scss */
#choice-menu ol li {
  font-size: 2em;
  margin-bottom: .5em;
}
